- start_location = current_object.location
- if params[:origin]
  - start_location = Location.new(:address_line => params[:origin])
  - start_location.valid?
- start_location ||= Location.new(:lat => "37.7749295", :lng => "-122.4194155")
- content_for :head do
  = google_map_tag(start_location)
.span-12.last= error_messages_for :location
.clear
- f.fields_for :location_attributes, current_object.location do |lf|
  .span-14= text_box_with_value(lf, start_location, :text_field, :address_line, 'Your Address or Zip code', {:class => "span-14"})
  .span-3.last= button_to_function("Update", "codeAddress($('posting_location_attributes_address_line').value)")
  .span-17= "Or drag and drop you location on map"
  = lf.hidden_field :lat
  = lf.hidden_field :lng
%hr.plain
#map_canvas.span-16{:style => "height:500px;"}
%hr.plain

- if RAILS_ENV == "development"
  #infoPanel
    %b
      Marker status:
    #markerStatus
      %i
        Click and drag the marker.
    %b
      Current position:
    #info
    %b
      Closest matching address:
    #address

