
- content_for :left do
  .prepend-1.last{:style => "margin-left: 15px;padding: 0px;"}
    %ul.large{:style => "list-style-type:none;margin:0px;"}
      = category_list_item("All Categories", nil, params)
      
      - Category.all.each do |c|
        = category_list_item(c.name, c.id, params)
  %ht.plain
  

#feedback_box
  %h3{:style => "margin: 0px;color: orange !important;"}
    = "Just launched! We need your"
    = link_to("feedback", "http://neiworld.uservoice.com/pages/31561", :onclick => "UserVoice.Popin.show(); UserVoice.Metrics.track('tab_click_conversion', 2, 'Tab Click'); return false;")
    = "and"
    = link_to("promotion", "http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4adccf0d4d2050cb", :class => "addthis_button")
    = "!"
  %script{:type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4adccf0d4d2050cb"}
.float_right= link_to '+ Add Post', new_posting_path(params_for_filters), :style => "font-size: 1.5em;"
.clear
%br
.prepend-1.last{:style => "margin-left: 10px;padding: 0px;"}
  = render :partial => "/postings/search_form"
%hr.plain
#mapContainer.span-17
%hr.plain
.prepend-1.prepend-top.last{:style => "margin-left: 5px;padding: 0px;"}
  %ul.large{:style => "list-style-type:none;margin:0px;"}
    = posting_type_list_item("All", nil, params)
    - PostingType.all.each do |pt|
      = posting_type_list_item(pt.name, pt.id, params)
  .clear
.prepend-top.last
  - if current_objects.any?
    #postings= render :partial => '/postings/posting', :collection => current_objects
  - else
    - unless @show_search_advise
      .box
        = "No postings found. Would you like to"
        = link_to("create", new_posting_path(params_for_filters))
        = "one?"
  = will_paginate current_objects
  = multimarker_map(params[:origin], current_objects)


