
- content_for :left do
  .prepend-1.last{:style => "margin-left: 15px;padding: 0px;"}
    %ul.large{:style => "list-style-type:none;margin:0px;"}
      = category_list_item("All Categories", nil, params)
      
      - Category.all.each do |c|
        = category_list_item(c.name, c.id, params)
  %ht.plain
  

.prepend-15.span-2.last= link_to '+ Add Post', new_posting_path(params_for_filters)
%hr.plain
.prepend-1.last{:style => "margin-left: 10px;padding: 0px;"}
  = render :partial => "/postings/search_form"
%hr.plain
#mapContainer.span-17
%hr.plain
.prepend-1.prepend-top.last{:style => "margin-left: 5px;padding: 0px;"}
  %ul.large{:style => "list-style-type:none;margin:0px;"}
    = posting_type_list_item("All", nil, params)
    - PostingType.all.each do |pt|
      = posting_type_list_item(pt.name, pt.id, params)
  .clear
.prepend-top.last
  - if current_objects.any?
    #postings= render :partial => '/postings/posting', :collection => current_objects
  - else
    - unless @show_search_advise
      .box
        = "No postings found. Would you like to"
        = link_to("create", new_posting_path(params_for_filters))
        = "one?"
  = will_paginate current_objects
  = multimarker_map(params[:origin], current_objects)


