
- content_for :left do
  .prepend-1
    %h3= "Category"
    %ul.large{:style => "list-style-type:none;"}
      %li= link_to("All", params.merge(:category => nil))
      - Category.all.each do |c|
        %li= link_to(c.name, params.merge(:category => c.id))
  %ht.plain
  .prepend-1
    %h3= "Posting type"
    %ul.large{:style => "list-style-type:none;"}
      %li= link_to("All", params.merge(:posting_type => nil))
      - PostingType.all.each do |pt|
        %li= link_to(pt.name, params.merge(:posting_type => pt.id))

.prepend-1
  .prepend-12.span-4.last= link_to 'Add Posting', new_object_path
  %hr.plain
  = render :partial => "/postings/search_form"
  %hr.plain
  #mapContainer
  %hr.plain
  #postings= render :partial => '/postings/posting', :collection => current_objects
  = will_paginate current_objects
  = multimarker_map(params[:origin], current_objects)


