%h1 Creating posting

= error_messages_for :posting

- form_for(:posting, :url => objects_url, :html => { :multipart => true }) do |f|
  = render :partial => "form", :locals => {:f => f}
  .clear
  %hr.plain
  #google_maps_box= render :partial => "/postings/googlemaps", :locals => {:f => f}
  .clear
  %hr.plain
  %p= submit_tag "Create"

= link_to 'Back', objects_path
