!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = h(yield(:title) || "www.neiworld.com Neighbors World. Meet good people around you")
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => "/images/favicon.ico", :rel => "icon", :type => "image/png" }
    %meta{ :name => "keywords", :content => h(@meta_keywords.gsub(/&lt;\/?[^&gt;]*&gt;/, "&quot;&quot;")) }
    %meta{ :name => "description", :content => h(@meta_description.gsub(/&lt;\/?[^&gt;]*&gt;/, "&quot;&quot;")) }
    /Framework CSS
    %link{ :href => "/stylesheets/blueprint/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "/stylesheets/blueprint/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
    /[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    - if @google_map
      %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
    /additional head elements
    = yield :head
  %body
    #container.container
      /.showgrid
      /#header.span-24.last
      /  #header_supertitle.span-24.last.language_bar
      /    = locale_link("en-US", "English")
      /    \&nbsp;
      /  #header_title.span-24.last
      /    %span.prepend-1
      /      = t("app.site_title")
      /  #header_subtitle.span-24.last
      /    %span.prepend-2
      /      = t("app.site_subtitle")
      #nav.span-24.last.menu_bar
        %h1{:style => "color:#0E394E;float:left;width:500px;margin: 0px 0px 0px 15px;"}= "Neighbor World"
        .addthis_toolbox.addthis_default_style{:style => "float:right;"}
          %span.addthis_separator= "|"
          = link_to("Share", "http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4adccf0d4d2050cb", :class => "addthis_button_compact")
          %span.addthis_separator= "|"
          = link_to("", "", :class => "addthis_button_facebook")
          = link_to("", "", :class => "addthis_button_myspace")
          = link_to("", "", :class => "addthis_button_google")
          = link_to("", "", :class => "addthis_button_twitter")
        %script{:type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4adccf0d4d2050cb"}
        %span{ :style => "float: right" }
          - if !current_user
            = link_to_unless_current "Home", postings_path
            |
            = link_to_unless_current t('app.menu.register'), new_account_path
            |
            = link_to_unless_current t('app.menu.login'), new_user_session_path
          - else
            = link_to_unless_current t('app.menu.postings'), postings_path
            |
            = link_to_unless_current t('app.menu.admin_users'), admin_users_path
            |
            = link_to_unless_current t('app.menu.my_account'), edit_account_path
            |
            = link_to_unless_current t('app.menu.logout'), user_session_path, :method => :delete,  :confirm => t('app.menu.logout_confirm')
        .clear
      #main_body.span-24.last
        /Left column here
        .span-6
          \&nbsp;
          = yield :left
        /Middle column here
        #content.span-18.last
          #inner.span-16.prepend-1.last
            %hr.plain
            - if show_title?
              %h1= h yield(:title)
            = flash_messages
            = yield :layout
        /Right column here
        /.span-4.last
        /  = yield :right
        /  \&nbsp;
      #footer.span-24.append-bottom.last
        .append-bottom.last{:style => "text-align:center;"}
          %ul{:style => "list-style-type:none;margin:0px;"}
            %li.span-2{:style => "float:left;"}= link_to("Home", postings_path)
            %li.span-2{:style => "float:left;"}= link_to("About Us", "")
            %li.span-2{:style => "float:left;"}= link_to("Contact Us", "")
            %li.span-2{:style => "float:left;"}= link_to("Blog", "")
            %span= "Copyright &copy; 2009 nieworld.org"
        - if RAILS_ENV == "production"
          = google_analytics_tag
          = feedback_tag
    /additional elements e.g. javascript
    = yield :foot
