!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = h(yield(:title) || "www.neiworld.com Neighbors World. Meet good people around.")
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => "/images/favicon.ico", :rel => "icon", :type => "image/png" }
    %meta{ :name => "keywords", :content => h(@meta_keywords.gsub(/&lt;\/?[^&gt;]*&gt;/, "&quot;&quot;")) }
    %meta{ :name => "description", :content => h(@meta_description.gsub(/&lt;\/?[^&gt;]*&gt;/, "&quot;&quot;")) }
    /Framework CSS
    %link{ :href => "/stylesheets/blueprint/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "/stylesheets/blueprint/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
    /[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    - if @google_map
      %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
    /additional head elements
    = yield :head
  %body
    #container.container
      #nav.span-24.last.menu_bar
        %h1{:style => "color:#333;float:left;width:240px;margin: 0px 0px 0px 15px;"}= "Neighbor World"
        .addthis_toolbox.addthis_default_style.float_left
          = link_to("", "", :class => "addthis_button_facebook")
          = link_to("", "", :class => "addthis_button_myspace")
          = link_to("", "", :class => "addthis_button_google")
          = link_to("", "", :class => "addthis_button_twitter")
          = link_to("Share", "http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4adccf0d4d2050cb", :class => "addthis_button_compact")
        %script{:type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4adccf0d4d2050cb"}
        .site_controls.float_right.margin_right15
          %span.float_right
            = link_to "Home", postings_path
            |
            - if !current_user
              = link_to t('app.menu.register'), new_account_path
              |
              = link_to t('app.menu.login'), new_user_session_path
            - else
              = link_to t('app.menu.my_account'), edit_account_path
              |
              = link_to t('app.menu.logout'), user_session_path, :method => :delete,  :confirm => t('app.menu.logout_confirm')
          .clear
          
        .clear
      .clear
      %br
      #main_body.span-24.last
        /Left column here
        .span-5{:style => "margin: 0px 0px 0px 10px;"}
          \&nbsp;
          = yield :left
        /Middle column here
        #content.span-19.last
          #inner.span-17.prepend-1.last
            /- if show_title?
            /  %h1= h yield(:title)
            = flash_messages
            = yield :layout
        /Right column here
        /.span-4.last
        /  = yield :right
        /  \&nbsp;
      #footer.span-24.append-bottom.last
        .append-bottom.last{:style => "text-align:center;"}
          %ul{:style => "list-style-type:none;margin:0px;float:right;margin-right:15px;"}
            %li.span-2{:style => "float:left;"}= link_to("Home", postings_path)
            %li.span-2{:style => "float:left;"}= link_to("About Us", "http://neiworld.blogspot.com/2009/10/what-is-neiworld-all-about.html")
            %li.span-2{:style => "float:left;"}= link_to("Contact Us", contact_us_path)
            %li.span-2{:style => "float:left;"}= link_to("Blog", "http://neiworld.blogspot.com/")
            %li{:style => "float:left;"}= "Copyright &copy; 2009 neiworld.com"
          .clear
        - if RAILS_ENV == "production"
          = google_analytics_tag
          = feedback_tag
    /additional elements e.g. javascript
    = yield :foot
